<section>
  <div class="task-author-info">
    <div class="avatar">
      <img [src]="user.avatarUrl" alt="">
    </div>

    <div class="name">
      <h3>{{ user.login }}</h3>
      <p class="age">{{ user.name }} {{ user.surname }}, {{ getAge() }} {{ ageText() }}</p>
    </div>

    <div class="expProgress">
      <div class="progress-info">
        <span class="rank">{{ userRank.name }}</span>
        <span class="values">{{ user.exp }} / {{ nextRankExp }}</span>
      </div>
      <progress [max]="nextRankExp" [value]="user.exp"></progress>
    </div>
  </div>
</section>
