<header>
    <div class="logoWrapper">
        <div class="imgLogoWrapper">
            <a href="/" class="imgLogoLink">
                <img src="/images/logo.svg" alt="">
            </a>
        </div>
        <div class="logoText">
            <a class="logoText" href="#">FLIT<span>admin</span></a>
        </div>
    </div>

    <div class="buttons-wrapper">
        <div class="loginSection" >
            <a class="loginButton">
                Войти
            </a>
            <div class="userLogin">{{ currentUser.login }}</div>
        </div>

        <div class="menuButton">
            <a>
                <input type="checkbox" id="toggle-menu"/>
                <label for="toggle-menu">
                    <span class="menu-icon"></span>
                </label>
            </a>
        </div>
    </div>
</header>
<nav class="header-nav">
    <ul class="topmenu">
        <li>
            <a class="">Пользователи</a>
            <ul class="submenu">
                <li>
                    <a href="/users/customers" class="submenu-link">Заказчики</a>
                </li>
                <li>
                    <a href="/users/performers" class="submenu-link">Исполнители</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Задания</a>
        </li>
        <li>
            <a>Типы заданий</a>
        </li>
        <li>
            <a>Ранги</a>
            <ul class="submenu">
                <li>
                    <a href="/requests" class="submenu-link">Заказчики</a>
                </li>
                <li>
                    <a href="/clients" class="submenu-link">Исполнители</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
