.sidenav-wrapper {
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: rgba(0, 0, 0, 0.44);
  position: absolute;
  top: 70px;
}

.sidenav {
  background-color: var(--header-bg-color);
  width: 200px;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

a.sidenavLink{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-left: 6px;
  color: white;
}

a:hover, a:active{
  opacity: 0.8;
}

a.activeLink{
  color: var(--pink);
}

.nav-caption{

}

.example-spacer {
  display: block;
  flex: 1 1 auto;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;
    }
  }
}
