<section>
  <main>
    <h1>Заказы</h1>
    <input type="text" placeholder="Поиск заказов">
    <div class="sort-container">
      Сортировать по:
      <a href="">цене</a>
      <a href="">новизне</a>
    </div>
    <div class="taskWrapper">
      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
    </div>
  </main>
  <div class="category-sorting">
    <div class="option">
      <p>Сфера деятельности:</p>
      <div class="checkbox-container">
        <div class="task-type" *ngFor="let taskType of taskTypes;let indexOfelement=index;">
          <app-checkbox [uniqueId]="'generatedOption'+indexOfelement" [text]="taskType.name"></app-checkbox>
        </div>
      </div>
    </div>
    <div class="option">
      <p>Дополнительно:</p>
      <div class="checkbox-container">
        <div class="additional-option">
          <app-checkbox uniqueId="options1" text="С отзывами"></app-checkbox>
        </div>
        <div class="additional-option">
          <app-checkbox uniqueId="options2" text="С указанной стоимостью"></app-checkbox>
        </div>
      </div>
    </div>
  </div>
</section>

