
.taskWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 0 0;

  & > app-task:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d4d4;
  }
}

.sort-container {
  display: flex;
  gap: 5px;
}

.category-sorting {
  height: 100%;

  .option {
    p {
      font-size: 18px;
      font-weight: 500;
      color: #8d8d8d;
    }

    .checkbox-container {
      display: flex;
      flex-direction: column;
    }

    span {
      font-size: 13px;
      border-bottom: 1px dashed #757575;
    }
  }
}

