<div class="modal-background" (click)="onCloseClick()"></div>

<div class="auth-wrapper">
  <div class="decorative-bg">

  </div>
  <div class="login-form">
    <div class="title">
      <p class="login">Вход</p>
      <h3>Начните зарабатывать на своих умениях или найдите специалиста!</h3>
    </div>

    <input type="text" placeholder="Логин/email">

    <div class="password-wrapper">
      <input type="password" placeholder="Пароль">
      <a href="#">Забыли пароль?</a>
    </div>

    <div class="remember-me">
      <input class="custom-checkbox" type="checkbox" id="remember-me">
      <label for="remember-me">Запомнить меня</label>
    </div>

    <div class="button-wrapper">
      <a class="submit" href="#">Войти</a>
      <p>Нет учётной записи? <a href="#">Зарегестрируйтесь</a></p>
    </div>
  </div>
</div>

