@charset "UTF-8";
:root {
  --header-bg-color: #222324;
  --header-color: #494949;
  --shadow: 0px 3px 5px 0 rgb(174 174 174 / 50%);
  --pink: #f31865;
  --pink-pale: #ff82ab;
  --grey: #4f6173;
  --success: #B6F8C4;
  --error: #FFB7B7;
  --warning: #FAE7C7;
  --info: #B2E7F5;
  --rank-stone: #707070;
  --rank-cooper: #d28843;
  --rank-iron: #c7d5e0;
  --rank-bronze: #ff9f00;
  --rank-silver: #9ce1dc;
  --rank-gold: #fdd932;
  --rank-platinum: #abe0ce; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-color: #EEEEEE;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: var(--grey);
  cursor: pointer; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

section, header, footer, nav.header-nav {
  padding: 0 15px; }

section {
  display: flex;
  gap: 10px;
  margin-top: 10px; }

@media (min-width: 575.98px) {
  section, header, footer, nav.header-nav {
    padding: 0 calc(50vw - 270px); } }

@media (min-width: 767.98px) {
  section, header, footer, nav.header-nav {
    padding: 0 calc(50vw - 360px); } }

@media (min-width: 991.98px) {
  section, header, footer, nav.header-nav {
    padding: 0 calc(50vw - 480px); } }

@media (min-width: 1199.98px) {
  section, header, footer, nav.header-nav {
    padding: 0 calc(50vw - 590px); } }

h1 {
  color: var(--header-color);
  font-size: 2em;
  font-weight: 500; }

h2 {
  color: var(--header-color);
  font-size: 1.5em;
  font-weight: 500; }

h3 {
  color: var(--header-color);
  font-size: 1.17em;
  font-weight: 500; }

span, p {
  font-size: 20px;
  color: var(--grey); }

input,
button,
textarea,
select {
  font: inherit; }

input, textarea {
  outline: none;
  background-color: #EEEEEE;
  border: none;
  padding: 10px 10px;
  width: 100%; }

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0; }

button {
  background-color: var(--pink);
  padding: 10px;
  color: white;
  outline: none;
  font-size: 20px;
  border: 0; }

button:hover {
  cursor: pointer;
  opacity: .8; }

main {
  background-color: white;
  padding: 10px 20px;
  flex: 1 1 auto;
  box-shadow: var(--shadow); }

.side-info {
  background-color: white;
  min-width: 300px;
  padding: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 300px;
  height: 100%; }

@media (max-width: 991.98px) {
  .side-info {
    display: none; } }

header {
  background-color: var(--header-bg-color);
  display: flex;
  height: 70px;
  justify-content: space-between; }

header button {
  border: none; }

header a {
  text-decoration: none;
  color: white; }

header a:not([class]):hover, a:not([class]):active {
  color: var(--pink); }

header a.imgLogoLink {
  height: 50px; }

.logoWrapper {
  display: flex; }

.logoWrapper .imgLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.logoWrapper a.imgLogoLink {
  height: 53px; }

.logoWrapper .logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px; }

.logoText span {
  align-self: end; }

.buttons-wrapper {
  display: flex; }

.loginSection {
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  cursor: pointer; }

.loginButton {
  padding: 10px 26px;
  border-radius: 25px;
  color: white;
  border: 2px solid var(--pink);
  transition: all .15s ease-in-out; }

.loginButton:hover {
  background-color: var(--pink); }

.userLogin {
  color: white; }

.userLogin :hover {
  color: var(--pink); }

.menuButton {
  justify-self: flex-end;
  display: none;
  margin: 10px; }

.menu-icon {
  font-size: 2em;
  max-width: 45px;
  text-align: center;
  display: block;
  margin: 15% auto;
  cursor: pointer;
  transition: transform .2s ease; }

.menu-icon:hover {
  transform: scale(0.9); }

.menu-icon:before, .menu-icon:after {
  line-height: .5; }

.menu-icon:before {
  content: '☰';
  display: block; }

.menu-icon:after {
  content: '╳';
  font-size: .75em;
  font-weight: 800;
  display: none; }

#toggle-menu {
  display: none; }

#toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon {
  transform: rotate(180deg); }

#toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:before {
  display: none; }

#toggle-menu:checked ~ label[for="toggle-menu"] .menu-icon:after {
  display: block; }

@media screen and (max-width: 480px) {
  .logoText {
    display: none !important; } }

@media screen and (max-width: 768px) {
  ul.navigation-items {
    display: none; }
  .menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; } }

nav {
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 52px;
  background-color: #fff;
  box-shadow: var(--shadow);
  text-align: center; }
  nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.topmenu {
  display: flex;
  gap: 15px;
  height: 100%; }
  .topmenu > li {
    display: inline-block;
    position: relative; }
    .topmenu > li > a {
      padding: 14px 0;
      font-size: 16px; }

.topmenu .active,
.topmenu > li > a:hover,
.submenu li a:hover {
  color: #2a2929;
  cursor: pointer; }

.submenu {
  position: absolute;
  left: -1px;
  z-index: 5;
  width: 240px;
  border-bottom: 1px solid #646769;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: .3s ease-in-out; }
  .submenu li {
    position: relative; }
  .submenu a {
    background: white;
    color: #5b5b5b;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px; }
  .submenu .submenu {
    position: absolute;
    top: 0;
    left: calc(100% - 1px);
    left: -webkit-calc(100% - 1px); }

nav li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px); }

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px; }
  .table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd; }
  .table thead tr th:first-child, .table thead .table tbody tr td:first-child {
    border-left: none; }
  .table thead tr th:last-child, .table thead .table tbody tr td:last-child {
    border-right: none; }
  .table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top; }
  .table tbody tr:hover {
    background: #d9d9d9 !important; }
  .table tbody tr:nth-child(even) {
    background: #f3f3f3; }
  .table tbody .actions {
    display: flex;
    justify-content: space-evenly; }
    .table tbody .actions a.edit {
      width: 18px;
      height: 18px; }
    .table tbody .actions input[type=image] {
      padding: 0;
      background-color: transparent;
      width: 18px;
      height: 18px; }

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px; }
  .listContainer .item {
    display: flex;
    padding: 10px 5px;
    gap: 10px; }
    .listContainer .item:nth-child(even) {
      background-color: #f3f3f3; }
    .listContainer .item span {
      color: #4f6173; }
    .listContainer .item a {
      color: #4f6173; }
      .listContainer .item a:hover {
        color: #2d343d; }
    .listContainer .item .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 140px;
      border-radius: 50%;
      overflow: hidden; }
    .listContainer .item .item-body {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      gap: 5px; }
      .listContainer .item .item-body .item-title {
        font-size: 24px; }
    .listContainer .item .actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .listContainer .item .actions a {
        padding: 10px;
        color: white;
        background-color: var(--pink); }
      .listContainer .item .actions a:hover {
        color: #e0e0e0; }

/*# sourceMappingURL=style.css.map */