:root {
  --header-bg-color: #222324;
  --header-color: #494949;
  --shadow: 0px 3px 5px 0 rgb(174 174 174 / 50%);
  --pink: #f31865;
  --pink-pale: #ff82ab;
  --grey: #4f6173;

  --success: #B6F8C4;
  --error: #FFB7B7;
  --warning: #FAE7C7;
  --info: #B2E7F5;

  --rank-stone: #707070;
  --rank-cooper: #d28843;
  --rank-iron: #c7d5e0;
  --rank-bronze: #ff9f00;
  --rank-silver: #9ce1dc;
  --rank-gold: #fdd932;
  --rank-platinum: #abe0ce;
}
