<header>
  <div class="logoWrapper">
    <div class="imgLogoWrapper">
      <a routerLink="/" class="imgLogoLink">
        <img src="/assets/img/logo.svg" alt="">
      </a>
    </div>
    <div class="logoText">
      <a class="logoText" routerLink="/">FLIT</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <ul class="navigation-items">
      <li>
        <a routerLink="/" routerLinkActive="activeLink">Заказы</a>
      </li>
      <li>
        <a routerLink="/rules" routerLinkActive="activeLink">Отклики</a>
      </li>
      <li>
        <a routerLink="/server-list" routerLinkActive="activeLink">Специалисты</a>
      </li>
    </ul>
  </div>
  <div *ngIf="user$ | async as data">
    <div *ngIf="user.id === 0; then login; else account">

    </div>
  </div>
  <div class="loginSection">
    <ng-template #login>
      <a class="loginButton" (click)="onClickAuth()">
        Войти
      </a>
    </ng-template>
    <ng-template #account>
      <a class="account">{{ user$.value.login | json }}</a>
    </ng-template>
  </div>

  <div class="menuButton">
    <a>
      <input type="checkbox" [(ngModel)]="isChecked" (change)="onToggleSidenav()" id="toggle-menu"/>
      <label for="toggle-menu">
        <span class="menu-icon"></span>
      </label>
    </a>
  </div>
</header>
