header {
  background-color: var(--header-bg-color);
  display: flex;
  height: 70px;

  & button {
    border: none;
  }

  & a {
    text-decoration: none;
    color: white;
  }

  & a:not([class]):hover, a:not([class]):active{
    color: lightgray;
  }

  & a.activeLink{
    color: var(--pink);
  }

  & a.imgLogoLink {
    height: 50px;
  }
}

.logoWrapper {
  display: flex;

  & .imgLogoWrapper {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  & a.imgLogoLink {
    height: 53px;
  }

  & .logoText {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 36px;
  }
}

.nav-wrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.loginSection {
  display: grid;
  justify-self: end;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  cursor: pointer;

  & .loginButton {
    padding: 10px 26px;
    border-radius: 25px;
    color: white;
    border: 2px solid var(--pink);
    transition: all .15s ease-in-out;

    &:hover {
      background-color: var(--pink);
    }
  }

  & .userLogin {
    color: white;

    &:hover {
      color: var(--pink);
    }
  }
}

.menuButton {
  justify-self: flex-end;
  display: none;
  margin: 10px;

  @charset "UTF-8";
  .menu-icon {
    font-size: 2em;
    max-width: 45px;
    text-align: center;
    display: block;
    margin: 15% auto;
    cursor: pointer;
    transition: transform .2s ease;
  }
  .menu-icon:hover {
    transform: scale(0.9);
  }
  .menu-icon:before, .menu-icon:after {
    line-height: .5;
  }
  .menu-icon:before {
    content: '☰';
    display: block;
  }
  .menu-icon:after {
    content: '╳';
    font-size: .75em;
    font-weight: 800;
    display: none;
  }

  #toggle-menu {
    display: none;

    &:checked ~ label[for="toggle-menu"] .menu-icon {
      transform: rotate(180deg);
    }

    &:checked ~ label[for="toggle-menu"] .menu-icon:before {
      display: none;
    }

    &:checked ~ label[for="toggle-menu"] .menu-icon:after {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  ul.navigation-items {
    display: none;
  }

  .menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
