.task-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .figure-info {
    display: flex;
    flex-direction: column;
  }

  .price {
    color: var(--pink);
    font-weight: 500;
  }

  .description {

  }

  .respondWrapper {
    display: flex;
    justify-content: center;

    a {
      padding: 10px 20px;
      background-color: var(--pink);
      color: white;
    }
  }
}

.task-author-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .avatar {
    img {
      border-radius: 50%;
    }
  }

  .name {
    font-size: 30px;
  }

  .expProgress {
    display: flex;
    flex-direction: column;

    .progress-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .rank {
        justify-self: flex-start;
      }

      .values {
        justify-self: flex-end;
      }
    }

    progress {
      height: 10px;
      width: 100%;
      background-color: #3df600;
      border: 0;
      border-radius: 10px;
      overflow: hidden;
    }
    progress::-webkit-progress-bar {
      background-color: #b6b6b6;
    }
    progress::-webkit-progress-value {
      background: var(--pink)
    }
    progress::-moz-progress-bar {
      /* style rules */
    }
  }
}
