<div class="wrapper">
  <div class="task-body">
    <a [routerLink]="['tasks', task.id]" class="title">{{ task.title }}</a>
    <span class="responses">{{ task.responsesCount }} откликов</span>
    <span class="date">{{ task.date }}</span>
    <app-tag-container [tags]="task.tags"></app-tag-container>
  </div>
  <div class="additional">
    <div class="price">
      <img src="/assets/img/cash.svg" alt="">
      <span>{{ task.price }} руб.</span>
    </div>
    <div class="add-to-favorite">
      <a class="add-to-favorite">
        <img src="/assets/img/favorite.svg" alt="">
      </a>
    </div>
  </div>
</div>
