<div class="wrapper">
  <div class="task-body">
    <a [routerLink]="['tasks', task.id]" class="title">{{ task.title }}</a>
    <span class="responses">{{ task.responsesCount }} откликов</span>
    <span class="date">{{ task.date }}</span>
    <app-tag-container [tags]="task.tags"></app-tag-container>
  </div>
  <div class="additional">
    <div class="price">
      <img src="/assets/img/cash.svg" alt="">
      <span>{{ task.price }} руб.</span>
    </div>
    <div>
      <a class="add-to-favorite">
        <img
          class="favorite"
          *ngIf="!addedToFavorite"
          (click)="toggleFavorite()"
          src="/assets/img/favorite.svg"
          alt=""
        >
        <img
          class="favorited"
          *ngIf="addedToFavorite"
          (click)="toggleFavorite()"
          src="/assets/img/favorited.svg"
          alt=""
        >
      </a>
    </div>
  </div>
</div>
